* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.menu {
    font-weight: bold;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

.nav1{
    height: 70px;
}

.banner, .banner-pic{
    height: calc(100vh - 70px);
}

.banner2{
    min-height: 250px;
    background-color: #d4d9dd;
}

.img1, .img2, .img3{
    height: 88vh;
}

.pjs {
    align-self: start;
    flex-direction: row;
}

.pje {
    align-self: end;
    flex-direction: row-reverse;
}

.pjm {
    margin-top: 30px;
}

.parallax1 {
    background-image: url("./assets/img/parallax1.jpg");
    min-height: 100vh;

    background-attachment: fixed;
    /* background-position:center; */
    background-repeat: no-repeat;
    background-size:cover;
}

.parallax2 {
    background-image: url("./assets/img/parallax2.jpg");
    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
   }
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

.contact-left p {
    margin-top: 30px;
}
.contact-left p i {
    color: #ababab;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons {
    margin-top: 25px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}
.btn2 {
    padding: 10px 40px;
    display: inline-block;
    margin-top: 20px;
}
.btn3 {
    padding: 10px 40px;
    display: inline-block;

}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #e4dede;
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-radius: 6px;
}

.aboutus {
    background-image: url("./assets/img/aboutus-banner.png");
    height: calc(100vh - 70px);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}

.aboutus-herotxt {
    padding: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.aboutus-second {
    background-image: url("./assets/img/aboutus-second.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus-margins {
    padding: 300px 100px 0px 100px;
}

.aboutus-txt {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.aboutus-third {
    background-image: url("./assets/img/aboutus-third.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.txtbg {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9);
    width: 1000px;
}